<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kin.assignment">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".privacy"
            android:label="@string/title_activity_privacy"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".about"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/textview_border" />

        <activity
            android:name=".converter"
            android:label="@string/title_activity_converter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recommend"
            android:label="@string/title_activity_recommend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".favour"
            android:label="@string/title_activity_favour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".currencyDetail" />
        <activity android:name=".register" />
        <activity
            android:name=".homePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>